<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        
        <h2 class="text-center mt-0">Ana's Store Conforto Íntimo</h2>
        <hr class="divider" />
        <p class="text-muted mb-5">
            A Ana's Store Conforto Íntimo é uma loja voltada para a beleza e o conforto da mulher. Estamos aqui para tornar sua experiência de compra tão suave quanto nossos tecidos. Acreditamos que cada mulher é única e merece se sentir incrível em suas próprias curvas. Portanto, estamos comprometidos em oferecer não apenas produtos de alta qualidade, mas também um atendimento que reflete o carinho e a atenção que dedicamos a você.
        </p>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-bag-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Elegância e Conforto</h3>
                    <p class="text-muted mb-0">Produtos com aquela <strong>Elgância e Conforto</strong> em cada detalhe!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Confiança</h3>
                    <p class="text-muted mb-0">Descubra o luxo e o íntimo que abraça você, sinta-se bem!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-person-hearts fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Sensualidade e Estilo</h3>
                    <p class="text-muted mb-0">Venha conhecer uma experiência de Moda Íntima Incomparável!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Feitos com Amor</h3>
                    <p class="text-muted mb-0">Para realçar a sua beleza de dentro para fora!</p>
                </div>
            </div>
        </div>
    </div>
</section>
