@model Joao.Ana.Modas.App.Models.Movimentacoes.FormaPagamentoPedidoViewModel

@{
    ViewData["Title"] = "Pedido";
}

<div class="row text-center">
    <div class="col-md-12">
        <h1>Pedido</h1>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> <i class="fas fa-home"></i> &nbsp; Home</a></li>
                <li class="breadcrumb-item"><a asp-action="RegistrarPedido" asp-controller="Movimentacoes">@ViewData["Title"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forma de Pagamento</li>
            </ol>
        </nav>
    </div>
</div>

<div class="progress">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

@if (Model is not null)
{

    <div class="mb-3 mt-3">
        <div class="card">
            <div class="card-body">

                @if (Model.Pedido is not null && Model.Pedido.Cliente is not null)
                {
                    @await Html.PartialAsync("~/Views/Clientes/_ResumoPartialView.cshtml", Model.Pedido.Cliente)
                }
                else if (Model.Pedido is not null && Model.Pedido.ClienteAnonimo)
                {
                    <p>Cliente não identificado</p>
                }

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mb-3">

                <div class="card-header">

                    @await Html.PartialAsync("~/Views/Pedidos/_StatusPedidoBargePartialView.cshtml", Model?.Pedido?.Status)
                    Pedido: <strong> @Model?.Pedido?.Id </strong> - <strong> @Model?.Pedido?.DataCadastro </strong>

                </div>
                <div class="card-body">

                    @await Html.PartialAsync("~/Views/Pedidos/_listaProdutosPartialView.cshtml", Model?.Produtos.Where(x => x.PedidoId.Equals(Model?.Pedido?.Id)).OrderBy(x => x.Nome).ToList())

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header">Forma de Pagamento</div>
                        <div class="card-body">

                            <form asp-action="AdicionarProdutoPedido" method="post">

                                <div asp-validation-summary="All" class="text-danger">
                                </div>

                                @Html.HiddenFor(m => m.Pedido.Id)

                                <div class="mb-3 row">
                                    <div class="col-md-4">                                       
                                        <select asp-for="Pedido.TipoPagamentoId" asp-items="ViewBag.TipoPagamento" class="form-control form-control-sm"></select>
                                        <span asp-validation-for="Pedido.TipoPagamentoId" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-sm btn-dark">
                                            <i class="fa-solid fa-spell-check"></i>
                                            Finalizar Pedido
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
