@using Joao.Ana.Modas.Infra.Identity
@using Joao.Ana.Modas.Infra.Utils
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Joao.Ana.Modas.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Joao.Ana.Modas.App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-expanded="false">Cadastros</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Clientes"
                                       asp-action="Index">
                                        <i class="fas fa-user"></i> &nbsp;
                                       Clientes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Produtos"
                                       asp-action="Index">
                                       <i class="fas fa-shirt"></i>
                                       Produtos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Fornecedores"
                                       asp-action="Index">
                                            <i class="fas fa-chalkboard-teacher"></i> &nbsp;
                                            Fornecedores
                                        </a>
                                    </li>

                                    
                                    <li class="dropdown-divider"></li>

                                     <li>
                                        <a class="dropdown-item" asp-controller="Cores"
                                             asp-action="Index">
                                            <i class="fa-solid fa-paint-roller"></i> &nbsp;
                                                Cores
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="Tamanhos"
                                            asp-action="Index">
                                            <i class="fa-solid fa-compass-drafting"></i> &nbsp;
                                                Tamanhos
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="TipoPagamento"
                                            asp-action="Index">
                                            <i class="fa-solid fa-wallet"></i> &nbsp;
                                                Formas de Pagamento
                                        </a>
                                    </li>

                                    <li class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="Usuarios"
                                       asp-action="Index">
                                       <i class="fas fa-users"></i> &nbsp;
                                       Usuários</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-expanded="false">Movimentação</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Entradas"
                                       asp-action="Nova">
                                        <i class="fas fa-user"></i> &nbsp;
                                       Registrar Venda</a>
                                    </li>
                                    
                                </ul>
                            </li>


                        }

                    </ul>
                    <ul class="navbar-nav ml-auto">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole(Constants.ADMINISTRADOR))
                            {


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-expanded="false">Gerenciar</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Usuarios"
                                       asp-action="Index">Usuários</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Regras"
                                       asp-action="Index">Regras</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            <li class="nav-item">
                                <form method="post" asp-controller="Usuarios" asp-action="logout">
                                    <button type="submit" style="width:auto"
                                        class="nav-link btn btn-link">
                                        Sair
                                    </button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="usuarios" asp-action="registrar">
                                    Registrar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="usuarios" asp-action="login">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted main-footer">
        <div class="container">
            &copy; 2023 - Ana Modas App - Desenvolvido por João Carias de França - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
