<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Entre em contato conosco!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Se surgir alguma pergunta, sugestão ou se você simplesmente quiser compartilhar sua experiência de compra, não hesite em entrar em contato conosco. Estamos aqui para fazer parte da sua jornada de autoexpressão e confiança.</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
              
                <form [formGroup]="form">
                    <!-- Name input-->
                    <div class="form-floating mb-3">

                        <input class="form-control" type="text" placeholder="Nome..." 
                        formControlName="nome" 
                        [ngClass]="{ 'is-invalid': (!form.controls.nome.valid && !form.controls.nome.pristine) }"
                        data-sb-validations="required" />
                      
                        <label for="name">Nome</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">O nome é obrigatório.</div>
                   
                    </div>
                  
                    <!-- Email address input-->
                    <div class="form-floating mb-3">

                        <input class="form-control" type="text" placeholder="email@exemplo.com" 
                        formControlName="email" 
                        [ngClass]="{ 'is-invalid': (!form.controls.email.valid && !form.controls.email.pristine) }"
                        data-sb-validations="required" />                        
                        
                        <label for="email">E-mail</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Informe um e-mail.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Este E-mail não é válido.</div>
                  
                    </div>
                  
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                      
                        <input class="form-control" type="text" type="tel" placeholder="(84) 99999-9999"  
                        formControlName="telefone" 
                        mask="(##) #####-####"
                        [ngClass]="{ 'is-invalid': (!form.controls.email.valid && !form.controls.email.pristine) }"
                        data-sb-validations="required" 
                        />                        

                        <label for="phone">Telefone</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Informe um número de telefone.</div>
                    </div>
                  
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" type="text" placeholder="Sua mensagem..." style="height: 10rem" data-sb-validations="required"
                        formControlName="mensagem" 
                        [ngClass]="{ 'is-invalid': (!form.controls.email.valid && !form.controls.email.pristine) }"
                        ></textarea>
                        <label for="message">Mensagem</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Informe sua mensagem.</div>
                    </div>
               
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div> (84) 99707-4698</div>
            </div>
        </div>
    </div>
</section>