<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 border-0">
       
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Elegância e Conforto</strong></h5>
          <p class="card-text">Produtos com aquela Elgância e Conforto em cada detalhe!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-0">
       
        <div class="card-body text-center">
          <h5 class="card-title "><strong>Confiança</strong></h5>
          <p class="card-text">Descubra o luxo e o íntimo que abraça você, sinta-se bem!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 border-0">
        
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Sensualidade e Estilo</strong></h5>
          <p class="card-text">Venha conhecer uma experiência de Moda Íntima Incomparável!</p>
        </div>
      </div>
    </div>
    
  </div>