@model Joao.Ana.Modas.App.Models.Caixa.PedidoViewModel

@{
    ViewData["Title"] = "Caixa";

    int _contItem = 0;
    double _valorTotal = 0.00;

    if(Model.Produtos is not null && Model.Produtos.Any())
    {
        _contItem = Model.Produtos.Count();
        _valorTotal = Model.Produtos.Select(c => c.Produto.PrecoVenda.GetValueOrDefault()).Sum();
    }
}

<div class="row text-center">
    <div class="col-md-12">
        <h1>Pedido</h1>
    </div>
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> <i class="fas fa-home"></i> &nbsp; Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Pedido" asp-controller="Caixa">@ViewData["Title"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Pedido</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-3">                    
                    <div class="card-body">                        
                         <h4 class="card-title">Total de Itens: <strong>@_contItem</strong></h4>                               
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-3">                    
                    <div class="card-body">
                              <h4 class="card-title">Valor Total: <strong>R$ @_valorTotal.ToString("N2")</strong></h4>                               
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header">Incluir Produto no Pedido</div>
                    <div class="card-body">

                        <form asp-action="Novo" method="post">

                            <div asp-validation-summary="All" class="text-danger">
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="far fa-save"></i>
                                        Salvar
                                    </button>

                                    <a asp-action="Index" asp-controller="Clientes" class="btn btn-warning">
                                        <i class="far fa-times-circle"></i>
                                        Cancelar
                                    </a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
