<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Olá, tudo bem? Bem-vindos ao Seu Lugar Favorito!</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Bem-vindos à nossa loja Ana's Store Conforto Íntimo! Aqui, você encontrará uma ampla variedade de peças de lingerie, desde sutiãs e calcinhas até camisolas e robes. Nós nos esforçamos para oferecer a nossas clientes produtos de alta qualidade que atendam às suas necessidades e desejos!</p>
                <a class="btn btn-primary btn-xl" href="#about">Descubra mais...</a>
            </div>
        </div>
    </div>
</header>