<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Moda e Conforto Íntimo</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">A Ana's Store Conforto Íntimo é uma boutique especializada em roupas íntimas e lingerie, oferecendo uma ampla variedade de peças cuidadosamente selecionadas para atender a todos os gostos e estilos. Nossa missão é realçar a beleza individual de cada pessoa, oferecendo produtos de alta qualidade que combinam design elegante com materiais luxuosos. Venha nos visitar e descubra a sensação de conforto íntimo aliado à sofisticação da moda. Sua confiança e bem-estar são nossa prioridade, e estamos aqui para ajudá-lo a encontrar a peça perfeita que fará você se sentir incrível, dentro e fora.</p>
                <a class="btn btn-light btn-xl" href="#services">Continuar!</a>
            </div>
        </div>
    </div>
</section>