@{
    ViewData["Title"] = "Política de Privacidade do Sistema Ana's Store App";
}
 <div class="container">

<h1>@ViewData["Title"]</h1>

<p class="text-justify">O Sistema Ana's Store App é um sistema de registro de produtos e vendas desenvolvido pela empresa Ana's Store com o objetivo de facilitar a gestão de vendas de lojas e estabelecimentos comerciais. Nós, da equipe de desenvolvimento do Ana's Store App, levamos a privacidade de nossos usuários muito a sério e queremos garantir que seus dados estejam protegidos enquanto usam o nosso sistema.</p>

<p class="text-justify">Esta Política de Privacidade descreve como coletamos, usamos e compartilhamos suas informações quando você usa o Sistema Ana's Store App. Ao usar o nosso sistema, você concorda com esta Política de Privacidade.</p>

<h3>Coleta de informações</h3>

<p class="text-justify">Coletamos as informações que você fornece diretamente ao criar uma conta no Sistema Ana's Store App, incluindo seu nome, endereço de e-mail, nome da empresa e informações de pagamento. Também coletamos informações sobre as transações realizadas através do nosso sistema, incluindo os produtos vendidos, os valores das vendas e informações de contato do cliente.</p>

<p class="text-justify">Além disso, podemos coletar informações técnicas sobre o seu dispositivo e uso do Sistema Ana's Store App, incluindo endereço IP, tipo de dispositivo, informações sobre o navegador e o sistema operacional, e dados de uso.</p>

<h3>Uso das informações</h3>

<p class="text-justify">As informações coletadas são usadas para fornecer, manter e melhorar o Sistema Ana's Store App. Utilizamos as informações para processar transações de vendas, gerenciar contas de usuários, responder a solicitações de suporte e enviar comunicações sobre o sistema e suas funcionalidades. Também usamos as informações para fins de análise e para melhorar a usabilidade e funcionalidade do sistema.</p>

<h3>Compartilhamento de informações</h3>

<p class="text-justify">Não vendemos ou compartilhamos informações pessoais com terceiros para fins de marketing. Podemos compartilhar informações com prestadores de serviços que nos ajudam a fornecer o Sistema Ana's Store App, como provedores de hospedagem, processamento de pagamentos e serviços de suporte ao cliente. Também podemos compartilhar informações com autoridades policiais ou governamentais, quando exigido por lei ou em resposta a uma solicitação legal.</p>

<h3>Segurança das informações</h3>

<p class="text-justify">Mantemos medidas de segurança para proteger as informações coletadas pelo Sistema Ana's Store App contra acesso não autorizado, uso, alteração ou divulgação. No entanto, não podemos garantir que as informações estarão completamente seguras contra ameaças externas.</p>

<p class="text-justify">Se você tiver alguma dúvida sobre esta Política de Privacidade ou sobre o uso do Sistema Ana's Store App, entre em contato conosco através do e-mail de suporte fornecido no sistema.</p>

</div>